*.TMP
*.tmp
.htaccess
htaccess.bak
htaccess.txt
error_log
wp-config.php
wp-config-live.php
Thumbs.db
installer-backup.php
installer-log.txt
/ajaxplorer/
/ignore/
/tmp/
/logs/
/log/
/cli/
/cache/
/wp-content/uploads/wp-sync-db/
/wp-content/uploads/wpcf7_captcha/
/wp-snapshots/
/wc-logs/
